<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Vue js exemplo</title>
</head>

<body>
    <h4 style="text-align: center;margin-top: 25px;">teste Vue js Root dev</h4>
    {{name}}
    <div id="app" class="container">
        <div
            style="margin-top: 50px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); padding: 20px;">
            <div class="row">
                <div class="col-sm">
                    <input type="date" class="form-control" v-model="name">
                    {{ name }}
                </div>
                <div class="col-sm">
                    <input type="date" class="form-control" v-model="surname">
                    {{surname}}
                </div>
                <div class="col-sm">
                    <input type="text" class="form-control" v-model="age">
                    {{age}}
                </div>
            </div>
            <div class="row" style="margin-top: 30px; text-align: center;justify-content: center;">
                <button type="button" class="btn btn-primary" v-on:click="add()" >Adicionar</button>
            </div>
        </div>
        <div
            style="margin-top: 50px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); padding: 20px;">
            <div class="row">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobre Nome</th>
                        <th scope="col">Idade</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(user, index) in listInfoUser">
                        <th scope="row">{{ index + 1 }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.age }}</td>
                        <td>
                            <button type="button" class="btn btn-danger" v-on:click="remove(index)">excluir</button>
                        </td>
                      </tr>
                      <tr v-show="!listInfoUser.length">
                          <td colspan="5" style="text-align: center;">Nenhum usuário adicionado</td>
                        </tr>
                    </tbody>
                  </table>
            </div>

        </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="testeVue.js"></script>
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>